.forgotten-password {
  width: 60%;
  display: flex;
  justify-content: center;
}

.confirm-email-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  gap: 0.25rem;
}