.snlc-channels {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.snlc-channel-input {
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.snlc-channel-link {
  border-radius: 50%;
  padding: 0.15rem;
}

.snlc-activated {
  background-color: var(--light-green);
  color: var(--pale-green);
}

.snlc-connecting {
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
}

.snlc-button {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.snlc-cancel {
  color: var(--white);
  background-color: var(--black);
  border-radius: 50%;
  /* margin: 0.25rem; */
  /* padding: 0.1rem; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 22px;
  width: 22px;
}

.snlc-cancel svg {
  flex-shrink: 0;
  width: 1rem;
  height: 1rem;
}