.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.clickable {
  transition: 
    border 0.25s ease,
    color 0.25s ease;
}

.clickable:hover {
  cursor: pointer;
  border: 1px solid var(--dark-green);
  color: var(--black);
}

.form-title {
  font-family: var(--elm-sans);
  margin-bottom: 1.5em;
}

.form-line {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-bottom: 0.5rem;
  width: 100%;
}

.form-label {
  font-family: var(--elm-sans);
}

.form-input {
  border-radius: 15px;
  border: 1px solid var(--grey);
  padding-left: 0.5rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  width: 100% - 0.5rem;
}

.form-input:focus {
  outline: none;
  border: 1px solid var(--black);
}

.accept-button {
  margin-top: 0.5rem;
  border-radius: 15px;
  border: 1px solid var(--light-green);
  color: var(--white);
  background-color: var(--light-green);
  transition: border 0.25s ease;
}

.white-button {
  border-radius: 15px;
  border: 1px solid var(--white);
  color: var(--black);
  background-color: var(--white);
  transition: border 0.25s ease,
    background-color 0.25s ease,
    color 0.25s ease;
}

.white-button:hover {
  border: 1px solid var(--light-green);
  background-color: var(--light-green);
  color: var(--white)
}

